<p-menubar class="custom-menubar" [model]="items">
  <ng-template pTemplate="start">
    <a routerLink="">
      <img src="../../../../assets/images/logo_jabil.png" alt="logo_jabil" width="100px" style="padding: 1px;">
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <!-- Botão de Logout direto -->
    <p-button
      label="Logout"
      icon="pi pi-sign-out"
      (click)="handleLogout()"
      class="p-button-text p-button-plain ml-2"
    ></p-button>
  </ng-template>
</p-menubar>

<!-- Overlay do usuário com apenas botão logout -->
<p-overlayPanel #userActions>
  <div class="flex flex-column p-2">
    <button
      pButton
      type="button"
      label="Logout"
      icon="pi pi-sign-out"
      class="p-button-text p-button-plain w-full"
      (click)="handleLogout()"
    ></button>
  </div>
</p-overlayPanel>
